<!doctype html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
<title>Restauracja</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
        pass=$("#password").val();
        
		
        $.post("/loginTo",{email:email,pswd:pass},function(data){
            if(data==='done') {
                window.location.href="/indexLogin";
            }
        });
    });
});
</script>
  
    <style> 
#menu {
	margin-bottom:0;
	animation: animation 6s infinite;
}

@keyframes animation {
  0%    {background-color:dimgray;}
  16%   {background-color:gray;}
  32%   {background-color:darkgray;}
  48%   {background-color:silver;}
  64%   {background-color:darkgray;}
  80%   {background-color:gray;}
  100%  {background-color:dimgray;}
}
</style>
  
  
</head>
<body>


<div class="jumbotron text-center" id="menu">
<h1 class="display-2">Menu</h1>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Cala karta dan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/przystawki">Przystawki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/zupy">Zupy</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/salaty">Salaty</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/makarony">Makarony</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/miesa">Miesa</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/owoceMorza">Ryby i owoce morza</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/desery">Desery</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/dlaDzieci">Dla dzieci</a>
      </li>

    </ul>
	 
  </div>
 <ul class="navbar-nav">
  <li class="nav-item">
        <a class="nav-link" href="login.html">Zaloguj sie</a>
      </li>
	  
	    <li class="nav-item">
        <a class="nav-link" href="/logOut">Wyloguj sie</a>
      </li>
	  
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Statusy dan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/dostepne">Dostepne</a>
          <a class="dropdown-item" href="/niedostepne">Niedostepne</a>
          <a class="dropdown-item" href="/naZamowienie">Na zamowienie</a>
        </div>
      </li>
  </ul>
  
</nav>

<br />

<div class="container">
  <h2>Logowanie</h2>
  <form action="/loginTo" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Podaj email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Haslo:</label>
      <input type="password" class="form-control" id="pswd" placeholder="Podaj haslo" name="pswd">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Zapamietaj mnie
      </label>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Zaloguj sie</button>
  </form>
</div>

<br>
<footer class="footer bg-dark" style="position: fixed;left: 0; bottom: 0; width: 100%; text-align: center;">
      <div class="container">
        <span class="text-muted"><b>Wereszczynska Siwiak	Projekt SISW	2021</b></span>
      </div>
    </footer>

</body>
</html